layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            hide_frame_except_for_search "true"
            hide_frame_except_for_scroll "true"

            format_left  "#[fg=#181825,bg=#89B4FA] #[fg=#89B4FA,bg=#181825,bold] {session}#[bg=#181825] {tabs}"
            format_right "#[fg=#424554,bg=#181825]::{datetime} {mode}"
            format_space "#[bg=#181825]"

            mode_normal          "#[fg=#181825,bg=#89B4FA] {name} "
            mode_tmux            "#[fg=#181825,bg=#FFC387] {name} "

            tab_normal               "#[fg=#6C7086,bg=#181825] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=#9399B2,bg=#181825,bold] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            datetime          " {format} "
            datetime_format   "%b %d %a %r"
            datetime_timezone "America/Los_Angeles"
        }
    }
}
